browser-use==0.5.11
pyperclip
gradio
json-repair
langchain-mistralai
MainContentExtractor
langchain-ibm
langchain_mcp_adapters
langgraph
langchain-community
langchain-openai
langchain-anthropic
langchain-google-genai
langchain-ollama
langchain-aws
